#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: whitesmoke;
  min-height: 100vh;
}

.police-line {
  width: 100%;
  /* Full viewport width */
  height: 50px;
  /* Adjust the height as needed */
  background: repeating-linear-gradient(45deg,
      yellow 0,
      yellow 25px,
      black 25px,
      black 50px);
  border-radius: 8pt;
}

.auth-page {
  background: linear-gradient(to bottom, white, #ffe5b4);
  min-height: 100vh;
}

.max-width-800 {
  max-width: 800px;
}

.fade-in-simple {
  opacity: 0;
  animation: fadeIn 250ms ease-out forwards;
}

.fade-in-simple-fast {
  opacity: 0;
  animation: fadeIn 150ms ease-out forwards;
}


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.blurred-background {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.no-padding-sides {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.some-padding-sides {
  padding-left: 12px;
  padding-right: 12px;
}

.vscroll {
  max-height: 80vh;
  padding: 4pt 0;
  width: 100%;
  overflow-y: auto;
}

/* For mobile devices with a max-width of 767px */
@media (max-width: 767px) {
  .some-padding-sides {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.pop-in-simple {
  animation: fadePopIn 0.2s ease-out forwards;
}

@keyframes fadePopIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-expand-simple {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  /* This is crucial to prevent content from overflowing during the animation */
  animation: fadeInExpand 250ms ease-out forwards;
}

@keyframes fadeInExpand {
  to {
    opacity: 1;
    max-height: 100vh;
    /* Or any other large value that's guaranteed to be greater than the content's height */
  }
}

/* Gemini: styles for css editor */
.rdg-light {
  --rdg-background-color: #fff;
  --rdg-header-background-color: #f8f9fa;
  --rdg-row-hover-background-color: #e0e0e0;
  --rdg-selection-color: #66afe9;
  --rdg-border-color: #dee2e6;
  --rdg-font-size: 13px;
  --rdg-cell-padding: 8px;
  --rdg-highlight-color: #d1eaff;
}

.rdg-cell {
  border-right: 1px solid var(--rdg-border-color);
  border-bottom: 1px solid var(--rdg-border-color);
  /* Ensure text in cells doesn't wrap unnecessarily */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rdg-header-row .rdg-cell {
  border-bottom: 1px solid var(--rdg-border-color);
  font-weight: bold;
}

.rdg-row {
  border-bottom: 1px solid var(--rdg-border-color);
}

/* Ensure the header row doesn't have extra padding */
.rdg-header-row {
  padding-right: var(--rdg-scrollbar-size, 0px);
  /* Adjust for scrollbar if present */
}