#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: whitesmoke;
  min-height: 100vh;
}

.police-line {
  width: 100%; /* Full viewport width */
  height: 50px; /* Adjust the height as needed */
  background: repeating-linear-gradient(
    45deg,
    yellow 0,
    yellow 25px,
    black 25px,
    black 50px
  );
  border-radius: 8pt;
}

.auth-page {
  background: linear-gradient(to bottom, white, #ffe5b4);
  min-height: 100vh;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 200ms ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}