@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@font-face {
  font-family: "nunito";
  src: url("/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Range for variable fonts */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/PT-serif/PTF55F.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/PT-serif/PTF75F.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/PT-serif/PTF76F.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Basis33";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/basis33/basis33.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Web Serveroff";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/web-serveroff/Web Serveroff.ttf") format("truetype");
  font-display: swap;
}
