.license-tag {
  background-color: rgba(253, 234, 201, 0.355);
  border-radius: 2rem;
  width: fit-content;
  margin: auto;
  font-size: small;
  padding: 3pt 12pt;
  color: rgba(0, 0, 0, 0.73);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  animation: fadePopIn 0.2s ease-out forwards;
}
